.nome{
    font-family: 'Montserrat',sans-serif;
    text-align: center;
    
}
.image{
    
    border-radius: 10px;
}
.description{
    font-family: 'Orelega One', cursive;
    position:absolute;
    left: 500px;
}
body{
    background-color: darkcyan;
}

.style{
    font-size: 20px;
    text-decoration: underline;
}

.list1{
    font-size: 20px;

}
.list2{
    font-size: 20px;
}
.list3{
    font-size: 20px;
}
.list4{
    font-size: 20px;
}

.image{
    position: absolute;
}

.geral{
    margin-top: 500px;
}