.nome{
    font-family: 'Montserrat',sans-serif;
    text-align: center;
}
.image{
    
    border-radius: 10px;
}
.description{
    font-family: 'Orelega One', cursive;
}
body{
    background-color: darkcyan;
}

.style{
    font-size: 20px;
    text-decoration: underline;
}

.list1{
    font-size: 10px;

}
.list2{
    font-size: 20px;
}
.list3{
    font-size: 30px;
}
.list4{
    font-size: 40px;
}